body {
	max-width: 500px;
}

#status
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0.9;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}

#status.working 
{
	display: block;
	background-image: url(img/spinner64.gif);
}

#status.success 
{
	display: block;
	background-image: url(img/ok64.png);
}

#status.failure 
{
	display: block;
	background-image: url(img/error64.png);
}

#videos {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#videos li {
	margin-bottom: 5px;
	max-width: 250px;
  	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}
